 /* .feather {
   width: 16px;
   height: 16px;
   vertical-align: text-bottom;
 }
  */
 /*
  * Sidebar
  */
 
 /* .sidebar {
   position: fixed;
   top: 75px;
   bottom: 0;
   left: 0;
   z-index: 100;
   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
 }
 
 @media (max-width: 767.98px) {
   .sidebar {
     top: 5rem;
   }
 }
 
 .sidebar-sticky {
   position: relative;
   top: 0;
   height: calc(100vh - 48px);
   padding-top: .5rem;
   overflow-x: hidden;
   overflow-y: auto; 
 }
 
 .sidebar .nav-link {
   font-weight: 500;
   color: #333;
 }
 
 .sidebar .nav-link .feather {
   margin-right: 4px;
   color: #727272;
 }
 
 .sidebar .nav-link.active {
   color: #2470dc;
 }
 
 .sidebar .nav-link:hover .feather,
 .sidebar .nav-link.active .feather {
   color: inherit;
 }
 
 .sidebar-heading {
   font-size: .75rem;
   text-transform: uppercase;
 } */
 
 /*
  * Navbar
  */
 
 /* .navbar-brand {
   padding-top: .75rem;
   padding-bottom: .75rem;
   font-size: 1rem;
   background-color: rgba(0, 0, 0, .25);
   box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
 } */
/*  
 .navbar .navbar-toggler {
   top: .25rem;
   right: 1rem;
 }
  */

/*  
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
 */

/* ================================================================ */
.top-header {
  padding: 0px !important;
  z-index: 1031;
}
.top-header .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 15px;
  font-family: 'Poppins', sans-serif !important;
}
.top-header .navbar-toggler {
  width: 32px;
  right: 38px;
}




.sidebar {
  position: fixed;
  top: 75px;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav {
  padding-top: 15px;
  text-align: left;
}
.sidebar .nav-item {
  margin-bottom: 15px;
}

.sidebar .nav-item .fa-icon {
  color: #6665fe !important;
  width: 20px;
  margin-right: 8px;
}

.sidebar .link {
  font-weight: 500;
  color: #333;
}


.main {
  height: 92vh;
  background: #ecf7f3;
}