* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Hind Siliguri', sans-serif !important;
  color: #666 !important;
}
.link {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
  color: #333;
}
h1 {
  font-size: 60px !important;
  font-weight: 700 !important;
}
h2 {
  font-size: 48px !important;
  font-weight: 700 !important;
}
h3 {
  font-size: 24px !important;
  font-weight: 600 !important;
}
h4 {
  font-size: 22px !important;
  font-weight: 600 !important;
}
h5 {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.btn-yatra {
  background: #6665fe;
  border: 1px solid #6665fe;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  width: 180px;
  height: 60px;
  border-radius: 100px;
  transition: .3s;
}
.btn-yatra.green {
  background: #6665fe;
  width: 120px;
  height: 50px;
}

.mui-green {
  color: #fff !important;
  text-transform: capitalize !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  border-radius: 100px !important;
  border: 1px solid #6665fe !important;
  width: 150px !important;
}
.mui-green:hover,
.btn-yatra:hover {
  background: #fff !important;
  color: #6665fe !important;
}
#basic-menu .link {
  color: #666 !important;
  font-weight: 500;
  font-size: 15px !important;
  font-family: 'Poppins', sans-serif !important;
}
#basic-menu .link .fa-icon {
  color: #6665fe !important;
  width: 20px;
  margin-right: 8px;
}
.spinner-border {
  margin: auto;
  border: 0.25em solid #6665fe !important;
  border-right-color: transparent !important;
}
.pre-loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-box p {
  margin: 30px 0;
}
.header-text {
  text-align: center;
  margin-bottom: 50px;
}
.header-text p {
  margin-top: 15px;
}

/* -------------------- NAVIGRATION START -------------------- */
.navbar {
  background: #333;
  padding: 15px 0 !important;
}
.navbar .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif !important;
}
.navbar .logo img {
  width: 32px;
}
.navbar .hamburger {
  padding-top: 10px;
  width: 32px;
}
.navbar .navbar-nav {
  margin: auto;
  align-items: center;
}
.navbar .nav-item .name,
.navbar .nav-item .link {
  color: #fff;
  text-decoration: none;
  margin: 0 25px;
  transition: .4s;
}
.navbar .nav-item .link:hover {
  color: #6665fe;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0rem !important;
}
.navbar button.link {
  background: none;
  border: none;
}
/* -------------------- NAVIGRATION END -------------------- */


/* -------------------- HOME BANNER START -------------------- */
.home-banner {
  margin-top: 90px;
  margin-bottom: 100px;
  background: url(./images/home-banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}
.home-banner .overlay {
  background: rgba(0, 0, 0, .4);
  padding: 250px 0;
}
.home-banner .text-box h1 {
  color: #fff;
}
.home-banner .text-box {
  color: #fff;
}
/* -------------------- HOME BANNER END -------------------- */

/* -------------------- TOUR SECTION START -------------------- */
.car-section {
  background: #fff;
  padding-top: 100px;
  padding-bottom: 85px;
  margin-bottom: 100px;
}
.car-box {
  background: #fff;
  margin: 15px 0;
}
.car-box .img-box {
  overflow: hidden;
}
.car-box .img-box img {
  transition: .3s;
}
.car-box:hover > .img-box img {
  transform: scale(1.1);
}
.car-box .info {
  padding: 15px;
}
.car-box .name {
  color: #333;
}
.car-box .price {
  color: #333;
  margin-bottom: 0;
}
.car-box .des {
  color: #666;
}
.car-box .date {
  font-size: 14px;
  color: #666;
  font-weight: normal;
}
.car-box .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-details {
  margin-top: 100px;
  padding: 100px 0;
}
.car-details .description {
  margin: 15px 0;
}
.car-details .date-place {
  margin: 15px 0;
}
.car-details .fa-icon {
  margin-right: 10px;
}
.car-details .btn-yatra {
  margin-top: 15px;
}
/* -------------------- TOUR SECTION END -------------------- */



/* -------------------- LOGIN AND REGISTRATION START -------------------- */
.login {
  background: #fafafa;
  padding: 200px 0 100px 0;
}
.login .login-box h3 {
  margin-bottom: 30px;
}
.login .login-box {
  padding: 30px;
  background: #fff;
  /* border-radius: 10px; */
  max-width: 500px;
  margin: auto;
}
.login .login-box hr {
  background-color: #999;
}
.login .login-box form {
  text-align: center;
  margin-bottom: 15px;
}
.login .login-box .form-group {
  margin-bottom: 15px;
}
.login .login-box .form-control {
  border: none;
  height: 60px;
  border-radius: 0px;
  padding: 20px;
  color: #666;
  border: 1px solid #eee;
}
.login .login-box .form-control:focus {
  box-shadow: 0 0rem 0rem rgba(0,0,0,.15)!important;
  border: 1px solid #6665fe;
}
.form-control.shadow-sm {
  box-shadow: 0 0rem 0rem rgba(0,0,0,.15)!important;
}
.login .login-box .btn-yatra {
  width: 100%;
}
.login .login-box .btn-yatra:hover {
  background: #6665fe;
  color: #fff;
  transform: translate(0px, 0px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.login .login-box .google-btn {
  border: none;
}
.login .login-box .google-btn:hover {
  color: #666;
}
.login .login-box .google-btn {
  margin-bottom: 15px;
  background: #fff !important;
  color: #435059;
}
.login .login-box .google-btn img {
  padding-right: 5px;
}
.login .login-box .switcher {
  margin-bottom: 0;
  margin-top: 15px;
}
.login .login-box .switcher .link {
  color: #6665fe;
}
.firebase-error {
  color: #eea288;
  font-size: 14px;
}
.login-box .error {
  font-size: 14px;
  padding-top: 5px;
  padding-left: 5px;
  color: #eea288;
  font-weight: normal;
}
input::placeholder {
  color: #999 !important;
}
.book-package {
  padding: 0;
  background: #fff;
}
/* -------------------- LOGIN AND REGISTRATION END -------------------- */




/* -------------------- FOOTER SECTION START -------------------- */
.footer {
  padding: 100px 0;
  background: #333;
}
.footer p {
  color: #999;
}
.footer h4 {
  color: #fff;
  margin-bottom: 30px;
}
.footer .nav-item {
  margin-bottom: 10px;
}
.footer .link {
  margin-bottom: 25px;
  color: #999;
  transition: .4s;
}
.footer .link:hover {
  color: #6665fe;
}
.footer .fa-icon {
  color: #999;
  width: 15px;
  margin-right: 10px;
  margin-top: 3px;
}
/* -------------------- FOOTER SECTION END -------------------- */


/* -------------------- NOT FOUND PAGE START -------------------- */
.not-found {
  margin-top: 200px;
  margin-bottom: 100px;
}
.not-found img {
  margin-bottom: 50px;
  width: 500px;
}
.not-found h3 {
  margin-bottom: 30px;
}
.not-found .link {
  color: #6665fe;
}
/* -------------------- NOT FOUND PAGE END -------------------- */


/* -------------------- RESPONSIVE MEDIA QUERIES -------------------- */
@media (max-width: 992px) {
  .navbar .navbar-nav .nav-item {
    text-align: center;
    margin: 15px 0;
  }
  .collapse {
    text-align: center;
  }
  .collapse .btn-yatra {
    margin-top: 15px;
  }
  .home-banner {
    background-position: center left;
  }
  .home-banner .overlay {
    padding: 150px 0;
  }
}